
*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #2874f0;
    color: white;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    text-decoration: none;
}

.nav_logo{
    height:25px ;
    width: 100px;
}

#Explore{
    font:italic;
    font-size: 12px;
}

#plus{
    font:italic;
    font-size: 10px;
    color: orange;
}

a{
    text-decoration: none;
    color: white
}

.box2:hover{
border: 2px solid white;
}

.logo{
    background-image: url("flip.jpg");
    background-size: cover;
    height:25px ;
    width: 100px;
}

.search-select{
    background-color:#2874f0;
    width:10px;
    text-align: center; 
    border: none;
    color: white;
}

.search-input{
    width: 550px;
    height: 35px;
    font-size: 1rem;
    border: none;
}

.search-logo{
    height: 35px; 
    width: 35px;
    background-color: white;
    display: flex;
   justify-content: center;
   align-items: center;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    height:33px ;
    width:150px ;
    color: blue;
    font-weight: bold;
    font-size: 16px;
}

button:hover{
    border: 2px lightseagreen;
}
.more{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.long-img{
    background-image: url("hero_image.jpg") ;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.long-img:hover{
    border-top: white;
    border-bottom: 4px solid white;
}

.shop-section{
    background-color: white;
    height: 130px;
    width: 100%;
    display: flex;
   justify-content: space-evenly;
}

.box-img{
    height: 80px;
    width:80px ;
    background-size: cover;
    margin-top: 10px;
}

p:hover{
    /* color: blue; */
}

b:hover{
    color: blue;
}

.fashion{
    background-color:white;
    width:10px;
    text-align: center; 
    border: none;
    color: black;
}

.scroll{
    height: 60px;
    width: 60px;
    left: 0px;   
    top: 200px;
    left: 30px;
 position:absolute;
padding-top: 150px;
}

.right{
    height: 60px;
    width: 60px;
 right: 0px;   
  top: 350px;
 position:absolute;
}

.shop-section2{
    background-color: white;
    height: 280px;
    width: 100%;
    display: flex;
   justify-content: space-evenly;
}

  .box2{
    height: 200px;
    width:200px ;
    background-size: cover;
    margin-top: 40px;
} 

#line{
    border-bottom: 15px solid #e4e7ed;
}

.list-products{
    height: 1300px;
    width: 100%;
    background-color: #e4e7ed;
    color: black;
    display: flex;
    align-items:center;
    justify-content:space-evenly;

}

#top{
    font-weight: bolder;
}

#list{
    font-weight:lighter;
    font-size: 12px;
    color: black;
    line-height: 30px;
    font-family: Roboto,Arial,sans-serif;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
display: flex;
justify-content: space-evenly;
}

ul a{
    display: block;

}

ul{
    margin-top: 30px;
}

a{
    font-size: 14px;
    margin-top: 10px;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    width: 100%;
    height: 80px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    font-weight: lighter;
    font-size: 14px;
}

#foot-list{
    margin-top: 20px;
}